extends layout

block content
	div(data-role='page')
		div(data-role='header')
			h1 Index
		div(data-role='content')
			div(ng-controller='indexController')
				a(href='/login')
					|Login
block scripts